services:
  fintest_ps:
    container_name: fintest_ps
    build: .
    command: uvicorn app.api.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      #### Set these values in a .env for local development ####
      # DB
      - DB_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      - DB_SYNC_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      # DIRS
      - LOG_DIR=${LOG_DIR}
      - OBJ_DIR=./artifacts/objects/
      - MDL_DIR=./artifacts/model_output/
      # API KEYS
      - ALPHA_VANTAGE_API_KEY=${ALPHA_VANTAGE_API_KEY}
      - POLYGON_API_KEY=${POLYGON_API_KEY}
      - NEWS_API_KEY=${NEWS_API_KEY}
    depends_on:
      - redis
      - postgresql_ps
  postgresql_ps:
    container_name: postgresql
    image: postgres:16
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - ./__postgresql_data__:/var/lib/postgresql/data
  redis:
    container_name: redis
    image: redis:7
    env_file:
      - .env
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
  rq-worker:
    build: .
    command: rq worker long short --url redis://redis:${REDIS_PORT}
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      #### Set these values in a .env for local development ####
      # DB
      - DB_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      - DB_SYNC_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      # DIRS
      - LOG_DIR=${LOG_DIR}
      - OBJ_DIR=./artifacts/objects/
      - MDL_DIR=./artifacts/model_output/
      # API KEYS
      - ALPHA_VANTAGE_API_KEY=${ALPHA_VANTAGE_API_KEY}
      - POLYGON_API_KEY=${POLYGON_API_KEY}
      - NEWS_API_KEY=${NEWS_API_KEY}
    depends_on:
      - redis
  rq-dashboard:
    image: eoranged/rq-dashboard
    container_name: rq-dashboard
    ports:
      - "9181:9181"
    environment:
      - RQ_DASHBOARD_REDIS_URL=redis://redis:${REDIS_PORT}
    depends_on:
      - redis