# Core dependencies for data pipeline
pandas
numpy
yfinance
alpha_vantage
requests
polygon_api_client

# Computation
torch
scikit-learn

# FastAPI and web framework
fastapi
uvicorn
pydantic
pydantic-settings

#DB
sqlalchemy[asyncio]
asyncpg

#Utils
python-dotenv
holidays

#Job framework
redis
rq