# Core dependencies for data pipeline
pandas
numpy
yfinance
alpha_vantage
requests
polygon_api_client

# FastAPI and web framework
fastapi
uvicorn
pydantic

#DB
sqlalchemy[asyncio]
asyncpg

#Utils
python-dotenv
holidays